:root {
  --color-primary: #21468b;
  --color-secondary: #ae1c28;
  --color-accent-blue: rgb(218, 237, 251);
  --color-accent-2: rgb(235, 226, 214);
  --color-accent-3: hsl(215, 45%, 25%);
  --color-accent-button: rgb(235, 226, 214);
  --color-accent-button-text: rgb(52, 66, 86);
  --color-accent-text-light: rgb(108, 124, 147);
  --color-shadow-white: rgba(255, 255, 255, 0.6);
}

.loader {
  width: 32px;
  height: 32px;
  border: 4px solid #ddd;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@import "tailwindcss";
@source "../*.html";

@theme {
  --breakpoint-six: 600px;
  --breakpoint-five: 500px;
}
